<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <script src="/send_url.js"></script>
</head>
<body>
    <h1>Hello World</h1>
    <form action="/change" method="post">
    <input type="button" value="Exec" /><br />
</body>
</html>